// bower:scss
// endbower

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #efefef;
  font-family: "Roboto", Helvetica, 'PT Sans', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;

  li {
    float: left;
  }
}

.clearfix {
  &:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
  };
}

/* === Grid === */
$contentWidth: 1140px;
$contentInPad: 0 20px;

.block-wrapper {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.content-area {
  max-width: $contentWidth;
  padding: $contentInPad;
  display: block;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
}

/*============================================================
                            CONTENT
==============================================================*/

/* ----------------------- MAIN PAGE ------------------------ */
/* Variables */
$titleColor: #000;
$contentColor: #fff;
$byydBuildTitle: #7a142e;
$mainWeight: 300;
$titleWeight: 700;
$titleSize: 54px;
$titleSizeBig: 66px;
$blockBgColor: #efefef;
$mainSize: 16px;
$blockTSize: 18px;
$inputColor: rgba(159, 215, 255, 0.6);
$inputColorActive: rgb(159, 215, 255);
$mainZ: 30;

@mixin flex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

@mixin trText {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
@mixin trStandart {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
/* ------------------------------ */

#main-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;  
  width: 100%;
  background-color: $blockBgColor;
  overflow: hidden;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
}
#main-nav {
  float: left;
}
.nav-list {
  li {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    };

    a {
      color: $titleColor;
      opacity: 0.5;
      font-size: 15px;
      display: block;
      padding: 21px 0;
      @include trText;

      &:hover {
        opacity: 0.8;
      };
    }
  }
}
.mobile-menu-btn {
  display: none;
  float: right;
  width: 30px;
  padding: 20px 0;
}
.menu-line {
  height: 4px;
  width: 100%;
  margin-bottom: 4px;
  background-color: rgba(0, 103, 169, 1);
  border-radius: 2px;

  &:last-child {
    margin-bottom: 0;
  };
}
.mobile-overlay, .mobile-nav-menu {
  @include trText;
}
.mobile-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  visibility: hidden;
  opacity: 0;
}
.mobile-nav-menu {
  position: fixed;
  top: -284px;
  left: 0;
  right: 0;
  z-index: 750;
  margin: 0 auto;
  background-color: rgba(0, 103, 169, 0.93);
  padding: 40px 0;
}
.mobile-nav-list {
  display: block;
  padding: 2px 0;
  border-top: 1px solid #E8E8E8;

  li {
    float: none;
    border-bottom: 1px solid #E8E8E8;
    text-align: center;

    a {
      color: #E8E8E8;
      font-size: 15px;
      text-transform: uppercase;
      padding: 10px 0;
      display: inline-block;
    }
  }
}
.mobile-nav-menu-active {
  top: 60px;
}
.mobile-overlay-active {
  opacity: 1;
  visibility: visible;
}

.b-button {
  font-size: 36px;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-transform: lowercase;
  border: 4px solid #fff;
  display: block;
  width: 300px;
  max-width: 100%;

  @include trStandart;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  };
}

/* === BYYD BUILD ===*/
.byyd-build {
  background-image: url(../images/byyd-build.jpg);
  z-index: $mainZ;
  height: 890px;

  .content-area {
    height: 100%;
    @include flex;
  }  
}
.byyd-build-mans {
  position: absolute;
  left: -300px;
  bottom: 0;
  width: 100%;
}
.byyd-build-content-spot {
  text-align: right;
  float: right;
  position: relative;
  z-index: 10;
  padding-left: 53%;
}
.byyd-build-title {
  color: $byydBuildTitle;
  padding: 0 0 28px 0;
  border-bottom: 2px solid #777261;
  font-weight: $mainWeight;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}
.byyd-build-text {
  width: 72%;
  font-weight: 300;
  font-size: 22px;
  color: #363636;
  float: right;
}
.woman-mobile {
  display: none;
}

/* === BYYD IS === */
$borderColor: #a4a4a4;

.byyd-is {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c7c7c+0,474646+100 */
  background: #7c7c7c; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3YzdjN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDc0NjQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  #7c7c7c 0%, #474646 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7c7c7c), color-stop(100%,#474646)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #7c7c7c 0%,#474646 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #7c7c7c 0%,#474646 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #7c7c7c 0%,#474646 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #7c7c7c 0%,#474646 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#474646',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  z-index: $mainZ;

  .content-area {
    overflow: hidden;
  }
}
.byyd-logo {
  width: 70%;
  margin: 40px auto;
  display: block;
}
.byyd-is-list {
  overflow: hidden;
  margin: 40px 0 60px 0;
  li {
    float: left;
    width: 33.3333%;
    padding: 0 40px;
  }
}
.byyd-is-block-img {
  display: block;
  margin: 0 auto 20px auto;
  height: 50px;
}
.byyd-is-block {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: $mainWeight;
}

/* === BYYD WALLPAPER === */
.byyd-wallpaper {
  background-image: url(../images/byyd-wallpaper.jpg);  
  background-attachment: fixed;
  height: 500px;
  z-index: $mainZ;
}

/* === BYYD IMPRESSIVE === */
.byyd-impressive {
  background-image: url(../images/byyd-impressive.png);
  min-height: 900px;
  margin-bottom: -235px;
  z-index: $mainZ;

  .content-area {
    overflow: hidden;
  }
}
.block-title {
  margin-top: 130px;
  font-size: 36px;
  font-weight: 400;
  color: #242424;
}
.block-text {
  margin-top: 40px;
  font-weight: 300;
  font-size: 28px;
  color: #474747;
  max-width: 700px;
}

/* === BYYD TARGETS === */
.byyd-targets {
  background-image: url(../images/byyd-targets-bg.jpg);
  background-attachment: fixed;
  z-index: 5;
  min-height: 100%;

  .content-area {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    right: 0;
  }
}
.byyd-targets-rombs-bg {
  position: fixed;
  background: url(../images/target-rombs.png) no-repeat center;
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}
.targets-img-mobile {
  display: none;
}

/* Romb targets */
.romb-targets {
  position: relative;
  height: 100%;
  bottom: -263%;
}
.romb-target-wrap {
  background-image: url(../images/target-romb.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

  @include flex; 
}
.rt-w-1 {
  width: 35%;
  left: 0;
  top: 10%;
}
.rt-w-2 {
  top: -5%;
  width: 30%;
  right: 12%;
}
.rt-w-3 {
  top: 0;
  width: 60%;
  left: 0;
  right: -3%;
  bottom: 0;
  margin: auto;

  img {
    position: relative;
    left: -37px;
  }
}
.rt-w-4 {
  bottom: 20%;
  width: 20%;
  left: 0;
}
.rt-w-5 {
  bottom: -6%;
  width: 30%;
  left: 14%;
}
.rt-w-6 {
  bottom: 10%;
  width: 30%;
  right: 4%;
}
.rt-w-7 {
  top: 30%;
  width: 20%;
  right: 0;
}
.rt-w-8 {
  bottom: -5%;
  width: 20%;
  right: 29%;
}

.romb-target-content {
  width: 100%;
}
.romb-target-img {
  margin: 0 auto;
  max-width: 90%;
  display: block;
}
.romb-target-text {
  text-align: center;
  font-size: 20px;
  color: #4e4e4e;
  font-weight: $mainWeight;
  padding-top: 20px;
}

/* === BYYD GEO === */
.byyd-geo {
  background-image: url(../images/geo.png);
  height: 963px;
  margin-top: -306px;
  z-index: $mainZ;
  overflow: hidden;

  .block-title {
    font-size: 48px;
    color: #4e4e4e;
    margin-top: 390px;
  }
  .block-text {
    font-size: 24px;
    font-weight: 300;
    color: #4e4e4e;

    span {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

/* === BYYD CLIENTS === */
.byyd-clients {
  background-image: url(../images/byyd-clients.jpg);
  height: 900px;
  padding-bottom: 200px;
  z-index: $mainZ;
  @include flex;
}
.clients-title {
  font-size: 48px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 12px #000;
}
.byyd-clients-list {
  margin-top: 40px;
  margin-bottom: 40px;
  @include flex;
}
.clients-press {
  margin: 0 auto;
  margin-top: 40px;
}
.byyd-clients-list-mobile {
  display: none;
}
.byyd-works-spot-mobile {
    display: none;
    margin-top: 20px;

    img {
      display: block;
      margin: 0 auto;
      max-width: 90%;
      max-height: 200px;
    }
}

/* === BYYD WORKS === */
.byyd-works {
  background-image: url(../images/byyd-works.png);
  padding-top: 290px;
  height: 1020px;
  margin-top: -290px;
  z-index: $mainZ;
}
.works-title {
  text-align: center;
  font-size: 48px;
  color: #5e5e5e;
  margin-top: 60px;
}

.byyd-works-spot {
  margin-left: 44px;
  margin-top: 140px;
}
.work-list-block {
  float: left;
  width: 25%;
  display: block;
  border: 1px solid #9f9f9f;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.48);
  transform: rotate(45deg);
  margin-right: 10%;
  overflow: hidden;
  position: relative;  

  &:last-child {
    margin-right: 0;
  };

  &:before {
    -webkit-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    @include trStandart;
  };

  &:hover {
    &:before {
    -webkit-transform: rotate(-45deg) scale(1.1);
    -ms-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);    
    }    
  }  
}
.wlb-1 {
  &:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -20%;
    left: -25%;
    z-index: 0;
    background: url(../images/byyd-work-1.jpg) 0 0 no-repeat;
    background-size: cover;
  };
}
.wlb-2 {
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -20%;
    left: -25%;
    z-index: 10;
    background: url(../images/byyd-work-2.jpg) 0 0 no-repeat;
    background-size: cover;
  };
}
.wlb-3 {
  &:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -20%;
    left: -25%;
    z-index: 0;
    background: url(../images/byyd-work-3.jpg) 0 0 no-repeat;
    background-size: cover;
  };
}
.work-img {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}

.work-block {
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotate(-45deg);
  text-align: center;
  top: -200%;
  left: -200%;
  width: 150%;
  height: 150%;
  opacity: 1;

  .work-block-text {
    margin: 0 auto;
    padding-top: 20px;

    a {
      font-weight: $mainWeight;
      color: #484848;
      font-size: 24px;

      .work-block-title {
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #484848;
      }
    }
  }

  &:hover {
  };

  @include flex;
  @include trText;
}
.work-list-block:hover .work-block {
  top: -25%;
  left: -25%;
}

/* === BYYD BONUS TITLE === */
.byyd-bonus-title {
  padding: 20px 0;
  z-index: $mainZ+1;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.33);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#464545+0,7c797b+100 */
  background: #464545; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NDU0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Yzc5N2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  #464545 0%, #7c797b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#464545), color-stop(100%,#7c797b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #464545 0%,#7c797b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #464545 0%,#7c797b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #464545 0%,#7c797b 100%); /* IE10+ */
  background: linear-gradient(to right,  #464545 0%,#7c797b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464545', endColorstr='#7c797b',GradientType=1 ); /* IE6-8 */
}
.block-s-tite, .block-s-text {
  text-align: center;
  color: #fff;
}
.block-s-tite {
  font-size: 36px;
  color: #28bdec;
}
.block-s-text {
  font-size: 24px;
  font-weight: $mainWeight;
}

/* === BYYD BONUS === */
$bZval: 15;
@mixin bImgPos {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.byyd-bonus {
  background-image: url(../images/bonus-bg.jpg);
  z-index: $mainZ;
  min-height: 100%;

  .content-area {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    right: 0;
  }
}
.bonus-mobile-version, .mobile-dark-mask {
  display: none;
}

.bonus-phone {
  width: 70%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-image: url(../images/bonus-phone.png);

  @include bImgPos;
}
.bonus-circles {
  background: url(../images/bonus-circles.png) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bonus-text-cloud {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  color: #606060;
  font-size: 24px;
  text-align: center;
  z-index: $bZval;

  @include flex;
}
.b-cloud-content {
  width: 100%;
  text-align: center;
}
.bt-cloud-1 {
  background-image: url(../images/bonus-lt-cloud.png);
  width: 34%;
  left: 10%;
  top: 5%;
  padding: 0 40px;
}
.bt-cloud-2 {
  background-image: url(../images/bonus-lb-cloud.png);
  width: 40%;
  left: 0;
  bottom: 5%;

  .b-cloud-content {
    width: 80%;
  }
}
.bt-cloud-3 {
  background-image: url(../images/bonus-rt-cloud.png);
  width: 40%;
  right: 0;
  top: 5%;

  .b-cloud-content {
    padding-left: 10%;
  }
}
.bt-cloud-4 {
  background-image: url(../images/bonus-rb-cloud.png);
  width: 46%;
  right: 0;
  bottom: 5%;

  .b-cloud-content {
    padding-left: 10%;
  }
}

.bonus-icon {
  position: absolute;
  display: block;
}
.bi-1 {
  width: 12%;
  left: 33%;
  top: 5%;
}
.bi-2 {
  width: 10%;
  right: 33%;
  top: 20%;
  z-index: $bZval + 1;
}
.bi-3 {
  width: 9%;
  left: 20%;
  bottom: 44%;
}
.bi-4 {
  width: 15%;
  left: 33%;
  bottom: 16%;
}
.bi-5 {
  width: 10%;
  right: 35%;
  bottom: 26%;
}
.bi-6 {
  width: 16%;
  right: 27%;
  bottom: 4%;
  z-index: $bZval + 1;
}

.bonus-bg-cloud {
  position: absolute;
  z-index: $bZval - 5;
  width: 14%;
}
.bic-1 {
  bottom: 10%;
  left: 5%;
}
.bic-2 {
  top: 40%;
  right: 6%;  
}
.bic-3 {
  top: 30%;
  left: 11%;
}

/* === BYYD BONUS IMAGE === */
.byyd-bonus-img {
  background-image: url(../images/byyd-bonus-img-bg.jpg);
  z-index: $mainZ;

  .content-area {
    overflow: hidden;
  }
}
.bonus-img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 320px;
}

/* === BYYD CONTACTS === */
.byyd-contacts {
  background-color: #fff;
  padding: 40px 0 40px 0;
  z-index: $mainZ + 1;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}
.contacts-title {
  text-align: center;
  color: #383838;
  font-size: 48px;
}
.contacts-spot {
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
}
.contacts-left, .contacts-right {
  width: 50%;
}
.contacts-left {
  float: left;
  padding-right: 60px;
}
.contacts-right {
  float: right;
}
.contacts-text {
  font-size: 24px;
  color: #3e3e3e;
}
.contacts-list {
  margin-top: 20px;

  li {
    float: none;

    .cl-cont {
      color: #444444;
      font-size: 20px;
      line-height: 20px;
      padding: 10px 0 10px 60px;
      position: relative;
    }
  }
}
[class*=c-list-cont-]:before {
  content: '';
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 5px;
}

.c-list-cont-1:before {
  background-image: url(../images/contact-img-1.png);
}
.c-list-cont-2:before {
  background-image: url(../images/contact-img-2.png);
}
.c-list-cont-3:before {
  background-image: url(../images/contact-img-3.png);
}
.c-list-cont-4:before {
  background-image: url(../images/contact-img-4.png);
}

#contacts-form {
  textarea {
    margin-top: 40px;
    border: 2px solid #000;
    width: 100%;
    &::-webkit-input-placeholder {color: #404040;}
    &::-moz-placeholder          {color: #404040;}/* Firefox 19+ */
    &:-moz-placeholder           {color: #404040;}/* Firefox 18- */
    &:-ms-input-placeholder      {color: #404040;}
    padding: 10px;
    color: #404040;
    font-size: 18px;
    outline-style: none;
    min-height: 100px;
  }
}
.byyd-input {
  padding: 10px 0;
  color: #404040;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
  outline-style: none;

  &::-webkit-input-placeholder {color: #404040;}
  &::-moz-placeholder          {color: #404040;}/* Firefox 19+ */
  &:-moz-placeholder           {color: #404040;}/* Firefox 18- */
  &:-ms-input-placeholder      {color: #404040;}
}
.form-sbm {
  float: right;
  font-size: 18px;
  max-width: 200px;
  border: 2px solid #000;
  margin-top: 30px;
  background-color: transparent;
  color: #404040;
  outline-style: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.4);
    background-color: transparent;
  };
}

/* === BYYD MAP  === */
$mapHeight: 500px;

.byyd-map {
  overflow: hidden;
  height: $mapHeight;
  z-index: $mainZ;
}
.contacts-map {
  height: $mapHeight;
  width: 100%; 
}

/*==============================================================
                            КЕЙСЫ                           
================================================================*/

/* === CASE LOGO === */
.case-logo {
  min-height: 100%;
  background-image: url(../images/case-block-logo.jpg);
}

/* === CASE DESCRIPTION === */
/* C-DESC-TOP */
.c-desc-top {
  background-color: #fff;
  padding: 40px 0;
}
.c-desk-top-title {
  text-align: center;
  color: #202020;
  font-size: 33px;
  font-weight: 300;
}
.c-desc-text-area {
  margin-top: 20px;
  width: 60%;
}
.c-desk-text-row {
  @extend .clearfix;
}
.c-desc-text-block {
  text-align: left;
  float: left;
  width: 50%;
  margin-bottom: 20px;
  padding-left: 30px;

  &:first-child {
    padding-left: 0;
  };
}
.cdt-title {
  color: #59829c;
  font-size: 28px;
  padding-left: 20px;
}
.cdt-content {
  color: #4c4c4c;
  font-size: 20px;
}

/* C-DESC-BOTTOM */
.c-desk-bottom {
  background-color: #c1dfec;
  padding: 40px 0;
  position: relative;
}
.c-desc-b-title {
  color: #3e3e3e;
  font-weight: 300;
  font-size: 33px;
  padding-left: 20px;
}
.c-desc-text-row {
  margin-top: 20px;
  color: #555555;
  font-size: 20px;
}
.c-desc-text-line {
    width: 80%;
    margin-top: 20px;
}
.desc-image {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 30%;
}

/* === CASE WALLPAPER AREA === */
.wallpaper-sb {
  min-height: 100%;
  background-image: url(../images/wallpaper-sb.jpg);
  background-attachment: fixed;
}
.case-corner-blue {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.case-corner-yellow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* === CASE GEO MAP === */
.geo-map {
  background-color: #f6dd9c;
}
.geo-map-title {
  text-align: center;
  color: #000;
  font-weight: 300;
  font-size: 33px;
}
.geo-map-img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/* === CASE DEVISES === */
.case-devises {
  background-image: url(../images/case-devises-bg.jpg);
  padding: 40px 0;
}
.case-devises-title {
  text-align: center;
  color: #fff;
  font-size: 33px;
  font-weight: 300;
}
/* Devises stats */
$textShadow: 0 1px 5px #000;
.devises-stats-title {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.toyota-b-l-devises {
  overflow: hidden;
}
.toyota-stats-note {
  background: url(../images/toyota-stats-note.png) no-repeat center;
  background-size: contain;
  line-height: 144px;
  color: #fff;
  font-size: 30px;
  float: left;
  text-align: center;
  width: 110px;
  height: 144px;
}
.toyota-stats-phone {
  float: left;  
  margin-left: 20px;

  img {
    margin-top: 56px;
  }
}
.stats-phone-percent {
  color: #fff;
  font-size: 30px;
  float: left;
  padding: 112px 0 0 14px;
}
.toyota-stats-oss {
  margin-top: 50px;
}
.toyota-stats-oss-item {
  overflow: hidden;

  span {
    line-height: 62px;
    float: left;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
  }
}
.toyota-stats-oss {
  .toyota-stats-oss-item {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 300;
    text-shadow: $textShadow;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.stats-os-img {
  width: 62px;
  height: 62px;
  border: 2px solid #00f9ff;
  background-color: #00537e;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  float: left;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}
.os-img-1 {
  background-image: url(../images/toyota-stats-android.png);
}
.os-img-2 {
  background-image: url(../images/toyota-stats-win.png);
}
.os-img-3 {
  background-image: url(../images/toyota-stats-mac.png);
}
.stats-os-progress {
  width: 164px;
  height: 24px;
  margin: 19px 0 0 -6px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px #fff;
  float: left;
}
.stats-progress-value {
  height: 24px;
  border: 1px solid #00f9ff;
  border-right: 4px solid #14999C;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000b0c+0,007c7f+26,00f0f7+100 */
  background: #000b0c; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMGIwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzAwN2M3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGYwZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  #000b0c 0%, #007c7f 26%, #00f0f7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000b0c), color-stop(26%,#007c7f), color-stop(100%,#00f0f7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #000b0c 0%,#007c7f 26%,#00f0f7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #000b0c 0%,#007c7f 26%,#00f0f7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #000b0c 0%,#007c7f 26%,#00f0f7 100%); /* IE10+ */
  background: linear-gradient(to right,  #000b0c 0%,#007c7f 26%,#00f0f7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000b0c', endColorstr='#00f0f7',GradientType=1 ); /* IE6-8 */
}
.os-item-1 {
  .stats-progress-value {
    width: 72%;
  }
}
.os-item-2 {
  .stats-progress-value {
    width: 20%;
  }
}
.os-item-3 {
  .stats-progress-value {
    width: 8%;
  }
}

/* === CASE SCREENS === */
.case-screens {
  background-image: url(../images/case-screens-bg.jpg);
  padding: 40px 0;
}
.case-screens-title {
  text-align: center;
  font-size: 33px;
  color: #353535;
  font-weight: 300;
}
.screens-container {
  margin-top: 40px;
}
.case-screens-item {
  float: left;
  width: 23.5%;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  };
}

/*===============================================================
                        MOBILE VERSION
================================================================*/
@media only screen and (max-width: 1220px),
only screen and (max-device-width: 1220px) {
  /* === BYYD BONUS === */ 
  .byyd-bonus {
    .content-area {
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 1024px),
only screen and (max-device-width: 1024px) {
  /* === BYYD TARGETS === */
  .romb-target-text {
    padding-top: 10px;
  }
  .romb-target-text {
    font-size: 13px;
  }
  .romb-target-img {
    max-width: 30%;
  }
  .rt-w-3 img {
    left: -17px;
  }

  /* === BYYD CLIENTS === */
  .clients-p-line {
    padding: 20px 0;
  }
  .byyd-clients {
    height: auto;
    padding-top: 40px;
  }
  .byyd-clients-list {
    display: block;
    text-align: center;
  }
  .byyd-clients-list {
    img {
      width: 25%;
    }
  }  
}

@media only screen and (max-width: 736px),
only screen and (max-device-width: 736px) {

  $mobileTitle: 24px;
  $mobileFSize: 16px;

  /* === BYYD BUILD ===*/
  .byyd-build {
    padding: 40px 0;
    min-height: auto;
    height: auto;

    .content-area {
      display: block;
    }    
  }
  .byyd-build-content-spot {
    padding-left: 0;
    overflow: hidden;
    float: none;  
  }
  .byyd-build-title {
    font-size: $mobileTitle;
    text-align: center;
  }
  .byyd-build-text {
    text-align: center;
    width: 100%;
    font-size: $mobileFSize;
  }
  .byyd-build-mans {
    display: none;
  }
  .woman-mobile {
    max-width: 100%;
    max-height: 300px;
    margin: 20px auto -40px auto;
    display: block;
  }

  /* === BYYD LOGO ===*/
  .byyd-is-block {
    font-size: $mobileFSize;
  }
  .byyd-is-list {
    margin-bottom: 40px;
  }
  .byyd-is-list li {
    float: none;
    width: 70%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .byyd-is-block-img {
    height: 36px;
  }

  /* === BYYD WALLPAPER ===*/
  .byyd-wallpaper {
    display: none;
  }

  /* === BYYD IMPRESSIVE ===*/
  .byyd-impressive {
    padding: 40px 20px;
    margin: 0;
    min-height: auto;
    background: url(../images/byyd-impressive-mobile.png) no-repeat center;
  }
  .block-title {
    margin-top: 0;
    font-size: $mobileTitle;
    text-align: center;
  }
  .block-text {
    text-align: center;
    font-size: $mobileFSize;
    margin-top: 20px;
  }

  /* === BYYD TARGETS ===*/
  .byyd-targets {
    background-attachment: inherit;
    height: auto;
    min-height: auto;
  }
  .byyd-targets .content-area {
    position: static;
    height: auto;
    padding: 20px;
  }
  .byyd-targets-rombs-bg {
    display: none;
  }
  .romb-targets {
    display: none;
  }
  .targets-img-mobile {
    display: block;
    margin: 0 auto;
    max-height: 680px;
  }

  /* === BYYD GEO ===*/
  .byyd-geo {
    height: auto;
    padding: 40px 20px;
    background-image: url(../images/geo-mobile.png);
    margin: 0;
  }
  .byyd-geo .block-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: $mobileTitle;
  }
  .byyd-geo .block-text {
    font-size: $mobileFSize;
    margin-top: 20px;
  }

  /* === BYYD CLIENTS ===*/
  .byyd-clients {
    height: auto;
    padding: 40px 0 100px 0;

    .content-area {
      overflow: hidden;
    }
  }
  .clients-title {
    text-align: center;
    font-size: $mobileTitle;
  }
  .byyd-clients-list {
    display: block;
    margin: 20px auto;

    img {
      display: block;
      margin: 0 auto 10px auto;
      max-width: 30%;
    }
  }
  .clients-press {
    margin: 20px auto 0 auto;
    max-width: 60%;
    font-size: $mobileFSize;
  }
  .byyd-clients-list {
    display: none;
  }
  .byyd-clients-list-mobile {
    display: block;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .slick-slide {
    outline-style: none;
    position: relative;
    height: 200px;
  }
  .slick-prev, .slick-next {
    display: none !important;
  }

  .byyd-works-spot {
    display: none;
  }
  .byyd-works-spot-mobile {
    display: block;
  }

  /* === BYYD WORKS ===*/
  .byyd-works {
    background: url(../images/works-mobile-bg.png) no-repeat top;
    background-size: cover;
    margin-top: -90px;
    padding: 130px 0 40px 0;
    height: auto;
  }
  .works-title {
    margin-top: 0;
    font-size: $mobileTitle;
    color: #fff;
  }
  .byyd-works-spot {
    margin-top: 40px;
  }

  /* === BYYD BONUS TITLE ===*/
  .block-s-tite {
    font-size: $mobileTitle;
  }
  .block-s-text {
    font-size: $mobileFSize;
  }

  /* === BYYD BONUS ===*/
  .bonus-mobile-version {
    display: block;
    padding: 40px 0;
  }
  .byyd-bonus {
    min-height: auto;

    .content-area {
      position: static;
    }
  }
  .bonus-mobile-text-block {
    max-width: 362px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    text-shadow: 0 1px 4px #000;
  }
  .bonus-img-mobile {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 360px;
  }
  .mobile-dark-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .bonus-circles, .bonus-bg-cloud, .bonus-icon,
  .bonus-phone, .bonus-text-cloud {
    display: none;
  }

  /* === BYYD CONTACTS ===*/
  .contacts-title {
    font-size: $mobileTitle;
  }
  .contacts-left, .contacts-right {
    float: none;
    width: 100%;
    padding: 0;
  }
  .contacts-text {
    text-align: justify;
    font-size: $mobileFSize;
  }
  .contacts-spot {
    margin-top: 20px;
  }
  .contacts-list li .cl-cont {
    font-size: 15px;
    padding-left: 40px;
  }
  #contacts-form {
    margin-top: 20px;
  }
  .byyd-input, #contacts-form textarea, .form-sbm {
    font-size: $mobileFSize;
  }
}
